.normal-filter {
  margin: auto;
  border-radius: 1em;
  background-color: white;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 920px;
}

  .mat-form-field{
    width: 100%;
  }
  .mat-form-field.normal-key {
    width: 25%;
    margin-left: 1%;
    padding: 5px 20px 0px 0px;
    // padding: 5px 0px 0px 100px;
  }
  .mat-form-field.normal-value {
    width: 100%;
    padding: 5px 0px 0px 20px;
  }
  .normal-value{
    width: 100%;
    padding-left: 15px;
  }
  .filterAllSelected{
    width: 77px;
  }
  // .filterAllSelected::after{
  //   content: "Tutte";
  //   padding-right: 60px;
  // }
  .filterSelected{
    width: 100px;
  }
  .normal-icon{
    padding-left: 10px;
  }
  .normal-filter{
    ::ng-deep .mat-form-field-underline {
      display: none;
    }
  }
  .normal-key{
    ::ng-deep .ng-star-inserted{
      text-overflow: unset !important;
    }
  }
  .normal-input{
    font-size: 16px !important;
  }
  // ::ng-deep .mat-focused.mat-form-field-label-wrapper{
  //   display: none;
  // }
  ::ng-deep .mat-primary .mat-pseudo-checkbox-checked{
    width: 20px;
    height: 20px;
    // border-radius: 1em;
  }
  #filterKey {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b51213;
    border-radius: 1em;
    color: white;
    padding-left: 10px;
    padding-right: 5px;
  }
  @media screen and (max-width: 1000px) {
    .normal-filter {
      width: 375px;
    }
    .mat-form-field.normal-key {
      padding: 5px 0px 0px 100px;
    }
  }
  @media screen and (max-width: 600px) {
    .advance-filed {
      width: 100%;
    }
    .mat-form-field.normal-key {
      width: 100%;
    }
    .mat-form-field.normal-value {
      width: 100%;
    }
    .mat-form-field.normal-value {
      width: 100%;
    }
    .mat-form-field.number-select{
      width: 100%;
    }
  }
  
  .special-display-field {
    padding: 6px 5px;
    border-bottom: 1px solid #949494;
    margin-bottom: 10px;
  }
  .special-display-label {
    font-size: 13px;
    color: #9d9d9d;
  }
  .ion-search{
    padding-right: 20px;
    font-size: 22px;
  }